.card-container{
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: white;
  border-radius: 5px;
  border: solid gray 1px;
  padding: 10px;
  width: 155px;
  height: 230px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.page{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}